<div class="container">
  <div class="row">

    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3 text-center">
        {{getName()}} TODO
      </h3>
      <div class="input-group mb-3">
        <input #inputTodo type="text" class="form-control" (keyup.enter)="addItem(inputTodo.value);inputTodo.value=''">
        <button class="btn btn-outline-primary" (click)="addItem(inputTodo.value);inputTodo.value=''">Add</button>
      </div>
      <div class="form-check mb-3">
        <input  type="checkbox"  class="form-check-input" [(ngModel)]="displayAll" id="displayall">
        <label for="displayall" class="form-check-label">DisplayAll</label>
      </div>

      <table class="table table-bordered" *ngIf="getItems().length>0">
        <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of getItems(); let i=index" [class.bg-info]="item.action" [class.bg-light]="!item.action">
          <td>{{i+1}}</td>
          <td>{{item.description}}</td>
          <td>
<!--            <div *ngIf="item.action">Yes</div>-->
<!--            <div *ngIf="!item.action">No</div>-->
            <div [ngSwitch]="item.action">
              <div *ngSwitchCase=true>Yes</div>
              <div *ngSwitchCase=false>No</div>
            </div>
          </td>
          <td><input  type="checkbox"  class="form-check-input" [(ngModel)]="item.action"></td>
        </tr>
        </tbody>
      </table>
      <div class="alert alert-warning" *ngIf="getItems().length===0">
        Mission completed!
      </div>
    </div>
  </div>
</div>
